body {
    font-family: sans-serif;
}

.container {
    display: flex;
}

.preview {
    margin-left: 32px;
}

.preview img {
    border-radius: 10px;
}

.avatar {
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 10px;
}

h1 {
    display: flex;
    align-items: center;
}

.description {
    color: rgb(135, 129, 129);
    font-style: italic;
    font-size: smaller;
}

.items {
    min-width: 500px;
}

.items a {
    text-decoration: none;
    font-size: larger;
    color: black;
}

.items a:hover {
    text-decoration: underline;
}
