.chunks {
    font-size: 26px;
    padding-top: 16px;
    text-align: center;
    width: 100%;
}

#result {
    cursor: pointer;
}

.chunks span {
    border: 1px solid silver;
    cursor: pointer;
}

.highlight {
    font-weight: bold;
}
